/**
 * @group o-aside-panel
 * @link http://registry.origami.ft.com/components/o-aside-panel
 */
/**
 * Main mixin for an aside panel
 * @requires {function} oColorsGetColorFor
 */
/**
 * Apply to an aside header block
 * @requires {mixin} oTypographyDisplay
 * @requires {function} oColorsGetColorFor
 */
/**
 * Styling for aside title
 */
/**
 * Apply to the main body of the aside
 */
.o-aside-panel__header {
  font-family: FinancierDisplayWeb, serif;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 0;
  border-bottom: 0;
  padding-left: 10px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: #e6d9ce;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAIAAABol6gpAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAEUlEQVQImWNYvnT2t5c3cJEAYL0XF6uvDusAAAAASUVORK5CYII="); }
  .o-typography--loading-display .o-aside-panel__header {
    font-size: 21.6px;
    font-family: serif; }

.o-aside-panel__heading {
  float: left;
  margin: 8px 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit; }

.o-aside-panel__body {
  box-sizing: border-box;
  padding: 10px; }
  .o-aside-panel__body[role=tabpanel] {
    float: left;
    position: relative;
    margin-left: -100%;
    width: 100%; }
    .o-aside-panel__body[role=tabpanel][aria-expanded=true] {
      left: 100%; }

.o-aside-panel {
  position: relative;
  background-color: #f2e5da;
  overflow: hidden; }

/**
 * @group o-aside-panel
 * @link http://registry.origami.ft.com/components/o-aside-panel
*/
/**
 * Mixin to apply a custom theme for o-tabs
 * @requires {function} oColorsGetColorFor
 * @requires {function} oColorsGetPaletteColor
 * @requires {function} oTypographyDisplay
 */
.o-aside-panel__tabs {
  display: none; }
  .o-aside-panel__tabs[data-o-tabs--js] {
    font-family: FinancierDisplayWeb, serif;
    font-size: 14px;
    line-height: 47px;
    display: block;
    float: right;
    text-transform: none; }
    .o-typography--loading-display .o-aside-panel__tabs[data-o-tabs--js] {
      font-size: 12.6px;
      font-family: serif; }
    .o-aside-panel__tabs[data-o-tabs--js] [role=tab] {
      display: inline-block;
      margin-right: 10px;
      list-style-type: none; }
      .o-aside-panel__tabs[data-o-tabs--js] [role=tab] a {
        color: #33302e;
        text-decoration: none; }
        .o-aside-panel__tabs[data-o-tabs--js] [role=tab] a:hover {
          color: #4d4845; }
      .o-aside-panel__tabs[data-o-tabs--js] [role=tab][aria-selected=true] {
        background-position: bottom center;
        background-repeat: no-repeat;
        background-image: url("data:image/gif;base64,R0lGODlhEQAJAKIAAAAAABEREaelm/fq2QAAAAAAAAAAAAAAACH5BAkAAAQALAAAAAARAAkAAAMcSLoq/FAMB+O4tLbLs+VdJYGgR4xkuaCpyrZlAgA7"); }
        .o-aside-panel__tabs[data-o-tabs--js] [role=tab][aria-selected=true] a {
          pointer-events: none;
          color: #000000; }

@font-face {
  src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-Regular.woff");
  font-family: FinancierDisplayWeb;
  font-weight: 400;
  font-style: normal; }
